<html>
<head>
</head>
<body>

<h1>New report</h1>

<div>
  <p>Hello,</p>

  <p>A new report has been generated at <strong><%= @generated_at %></strong>.</p>

  <p>Link: <a href="<%= self.report_url %>"><%= self.report_url %></a>.</p>
</div>

</body>
</html>